@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Rowdies&display=swap');

body {
    background-color: gainsboro;
    color: black;
}

#headerStyle {
    font-size: 4em;
}

.row {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    padding: 3%;
    font-size: 3em;
    border: 3px solid transparent;
    border-radius: 40px;
}

.quote {
    font-family: 'Oswald', sans-serif;
}

.film {
    font-family: 'Rowdies', sans-serif;
}

#getMessage {
    font-size: 2em;
}